/*profile css*/
    * { margin: 0; padding: 0; box-sizing: border-box; font-family: 'Poppins', sans-serif; }
    body { display: flex; min-height: 100vh; background: #f4f7fc; }

    /* ===== Sidebar ===== */
    .sidebar {
      width: 220px; background: #6d5486; color: white; flex-shrink: 0;
      padding-top: 20px; position: fixed; height: 100%;
    }
    .sidebar h2 { text-align: center; margin-bottom: 20px; font-size: 22px; }
    .sidebar ul { list-style: none; padding: 0; }
    .sidebar ul li a {
      display: block; padding: 12px 20px; color: white; text-decoration: none;
      border-radius: 8px; margin: 5px 10px; transition: all 0.3s;
    }
    .sidebar ul li a:hover,
    .sidebar ul li a.active { background: #101111; }

    /* ===== Main Content ===== */
    .main-content { margin-left: 240px; padding: 20px; width: 100%; }
    .main-content h2 { margin-bottom: 25px; color: #212224; }

    /* ===== Profile Section ===== */
    .profile {
      display: flex;
      flex-direction: column;
      align-items: center;
      background: #eeeaee;
      padding: 25px;
      border-radius: 12px;
      box-shadow: 0 2px 10px rgba(235, 230, 230, 0.1);
      max-width: 400px;
     margin :auto;
    }
    .profile-pic {
      width: 120px; height: 120px;
      border-radius: 60%;
      margin-bottom: 20px;
      object-fit: cover;
      box-shadow: 0 0 10px rgba(235, 230, 230, 0.2);
    }
    .profile input {
      width: 100%;
      padding: 12px;
      margin: 10px 0;
      border-radius: 8px;
      border: 1px solid #020101;
      font-size: 16px;
    }
    .profile button {
      width: 100%;
      padding: 12px;
      margin-top: 15px;
      background: #512c5f;
      color: white;
      border: none;
      border-radius: 8px;
      font-size: 16px;
      cursor: pointer;
      transition: all 0.3s ease;
    }
    .profile button:hover {
      background: #211f1f;
      transform: scale(1.02);
    }

    @media (max-width: 768px) {
      .sidebar { position: relative; width: 100%; height: auto; }
      .main-content { margin-left: 0; }
      .profile { width: 90%; }
    }
  